body {
  padding-bottom: 30px;
  background-color: #EEEEEE;
}

.progress-bar-container {
  margin-top: 150px;
}

.progress-bar-left {
  margin-left: -115px;
}

.progress-bar-right {
  margin-left: -55px;
  margin-top: -50px;
}

.vertical {
  width: 300px;
  height: 30px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

#logo {
  width: 400px;
  margin-top: 20px;
  margin-bottom:20px;
  margin-left: 100px;
}

.btn-group-vertical {
  margin-top: -50px;
}
