<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/yeti.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='third-party/google-code-prettify/prettify.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='third-party/google-code-prettify/prettify.js') }}"></script>
  <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src-noconflict/ace.js') }}"></script>
    <script type='text/javascript'>
      var myFirebaseRef = new Firebase("https://codebattles.firebaseio.com/");
      var userKey = "";
</script>
  
    <script type="text/javascript">
        var resetCode = function() {
            var code = document.getElementById("code-textarea").value;

            var highlightedCode = document.getElementById("fancy-text");

            highlightedCode.innerHTML = code;
            highlightedCode.className = "prettyprint lang-js";

            prettyPrint();
        };
    </script>
    
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-10" style="height:600px;min-height:600px">
            
            <div> 
                <p id="welcome">Welcome!</p>
                <textarea id="username"></textarea>
                <div class="btn btn-default" onclick="updateUsername();">SUBMIT</div>
<script>
function updateUsername() {
    var usernameString = document.getElementById("username").value;
    if (userKey === "") {
        // insert username
        var firebaseArray = new Array();
        firebaseArray["username"] = usernameString;
        var newPostRef = myFirebaseRef.push(firebaseArray);
        userKey = newPostRef.key();
    } else {
        // update username
        myFirebaseRef.child(userKey).child("username").set(usernameString);
    }
    var welcomeText = document.getElementById("welcome");
    welcomeText.innerHTML = "Welcome " + usernameString + "!";
}
</script>
                    </div>
                <div class="panel panel-default" style="height:60%;min-height:60%">
                    <div class="panel-body"><p>Implement the Fibonacci sequence for an input integer N. </p>
                    </div>
                </div>
                    <div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
    // isn't this amazing
    }</div>
            </div>
            <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Progress</div>
                        <div class="panel-body" style="height:575px">
                            <div class="row" style="height:375px">
                                <div class="progress-bar-container ">
                                    <div class="progress vertical progress-bar-left">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        </div>
                                    </div>
                                    <div class="progress vertical progress-bar-right">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="btn-group-vertical" role="group">
                                    <div class="btn btn-info" onclick="onTest();">TEST</div>
                                    <script>
                                    function onTest() {
                                        console.log('test pressed');
                                        //sock.send('closing');
                                        //sock.close();
                                    }
                                    </script>
                                    <div class="btn btn-info">HELP</div>
                                    <div class="btn btn-info">RESET</div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:25px">
                                <div class="text-center">
                                    <div class="btn btn-success" onclick="onSubmit();">SUBMIT</div>
                                    <script>
                                    function onSubmit() {
                                        console.log('submit pressed');
                                        var code = ace.edit("editor").getValue();
                                        // get rid of newlines in the editor's code
                                        // code = code.replace(/(\r\n|\n|\r)/gm,"")
                                        myFirebaseRef.child(userKey).child("code").set(code);
                                    }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

  
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setOptions({
        maxLines: 15
    });
</script>


</body>
</html>
