<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/yeti.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='third-party/google-code-prettify/prettify.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='third-party/google-code-prettify/prettify.js') }}"></script>
  <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src-noconflict/ace.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='third-party/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='third-party/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='custom.js') }}"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="left-col"></div>
        <div class="col-md-6" style="background-color: white;padding-top: 50px;">
            <img id="logo" src="{{ url_for('static', filename='logo.png') }}"/>
            <div class="col-md-9" style="height:650px;min-height:650px;padding-top:20px">
            <div>
                    </div>
                <div class="panel panel-default" style="height:50%;min-height:50%">
                    <div class="panel-body"><p>Write a function to calculate the Nth result in a Fibonacci sequence starting with 1, 1, 2, etc. Your function should accept an integer N and return an integer with your answer. </p>

                    <p>For example, </p>
                    <pre>
int a = 1;
int b = 4;
int c = 10;
fibonacci(a); // returns 1
fibonacci(b); // returns 3
fibonacci(c); // returns 55
                    </pre>
                    </div>
                </div>
                    <div id="editor" style="height:40%;min-height:40%">// Write your solution here
function fibonacci(N) {
    
}
</div>
            </div>
            <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">Progress</div>
                        <div class="panel-body" style="height:530px">
                            <div class="row" style="height:375px">
                                <div class="progress-bar-container ">
                                    <div class="progress vertical progress-bar-left">
                                        <div class="progress-bar progress-bar-primary" id="selfprogress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: "+yourProgress+"%">
                                        </div>
                                    </div>
                                    <div class="progress vertical progress-bar-right">
                                        <div class="progress-bar progress-bar-info" id="otherprogress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: "+theirProgress+"%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="btn-group-vertical" role="group">
                                    <div class="btn btn-info" onclick="onRedemo();">REDEMO</div>
                                    <div class="btn btn-info" onclick="onReset();">RESET</div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:25px">
                                <div class="text-center">
                                    <div class="btn btn-success" onclick="onSubmit();">SUBMIT</div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-2" id="right-col"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setOptions({
        maxLines: 18
    });
</script>

<script>
function testFib() {
    eval(codeSubmission);
    var count = 0;
    if (fibonacci(1) == 1) {
        count = count + 1;
    }
    if (fibonacci(4) == 3) {
        count = count + 1;
    }
    if (fibonacci(10) == 55) {
        count = count + 1;
    }
    return count / 3 * 100;
}
</script>


</body>
</html>
